Google Canary has these bleeding edge features that are not available in other
versions just yet. These settings apply to ChromeOS although flags seem apparent
in current version of Chrome.

+ chrome://flags/#enable-force-dark
+ chrome://flags/#enable-webui-dark-mode

To make Chrome even darker enable:

+ chrome://flags/#dark-light-mode
